<!-- Here I would want to have buttons/radio buttons with existing category names to click when creating a new link
entry that would pass that category_id with the other params to create new instance.
Would also want to have a button that says 'click here to add new category if your desired one is not available
and that would link_to categories#new' -->

<div class="container">
  <div class="header">
    <div class="header_item" style="margin-left: 2%">
      <%= link_to "Back to Start", root_path %>
    </div>
    <div class="header_item">
      <h1>Add New Link</h1>
    </div>
    <div class="header_item" style="margin-right: 2%">
      <%= link_to "Add a New Category", new_category_path %>
    </div>
  </div>

  <div class="content_div">
    <div class="content">
      <%= render 'form' %>
    </div>
  </div>
</div>



<p style="color: white; margin-top: 4em; margin-left: 1em">Click "Add a New Category" at the top right if you don't see the category you want/need for your link.</p>
