<div class="container">
  <div class="content_div">
    <div class="content">
      <ul>
        <% @categories.each do |category| %>
        <li>
          <%= link_to "#{category.name}", category_path(category.id) %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
